<%= form_for [:provider,@listing] do |f| %>
    <% if @listing.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@listing.errors.count, "error") %></h2>
            <ul>
                <% @listing.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :start_at %>
        <%= f.datetime_select :start_at, default: 1.hours.from_now %>
    </div>
    <div class="field">
        <%= f.label :end_at %>
        <%= f.datetime_select :end_at, default: 2.hours.from_now %>
    </div>
    <div class="actions">
        <%= f.submit "Submit", class:"btn btn-success"%>
    </div>
<% end  %>
