<!DOCTYPE html>
<html>
    <head>
        <title>Schedulr</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="container-fluid">
        <nav class="row header">
            <h2 class="col-md-3">Schedulr</h2>
            <h4 class="col-md-5"><%= notice %></h4>
            <% if current_user %>
                <h4 class="col-md-4" style="text-align:right;">Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %></h4>
            <% end %>
        </nav>
        <div class="row" style="min-height:100%;padding-top:1em;">
            <%= yield %>
        </div>
    </body>
</html>
