<!DOCTYPE html>
<html>
  <head>
    <title>Schedulr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="row header">
          <h2 class="col-md-3">Schedulr</h2>
          <% if current_user %>
              <h4 class="col-md-3 offset-md-6">Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %></h4>
          <% end %>
      </nav>
      <div class="row header">
          <div class="col-md-6 offset-md-3"><h6 id="notice"><%= notice %></h6></div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <%= yield %>
          </div>
      </div>
  </body>
</html>
